<div class="social-list">
    <% if (theme.social.email) { %>
        <a target="_blank" href="<%= theme.social.email %>" title="E-mail"><i class="fa-fw fas fa-envelope"></i></a>
    <% } %>
    <% if (theme.social.github) { %>
        <a target="_blank" href="<%= theme.social.github %>" title="GitHub"><i class="fa-fw fab fa-github"></i></a>
    <% } %>
    <% if (theme.social.stackoverflow) { %>
        <a target="_blank" href="<%= theme.social.stackoverflow %>" title="Stack Overflow"><i
                    class="fa-fw fab fa-stack-overflow"></i></a>
    <% } %>
    <% if (theme.social.twitter) { %>
        <a target="_blank" href="<%= theme.social.twitter %>" title="Twitter"><i class="fa-fw fab fa-twitter"></i></a>
    <% } %>
    <% if (theme.social.facebook) { %>
        <a target="_blank" href="<%= theme.social.facebook %>" title="Facebook"><i
                    class="fa-fw fab fa-facebook"></i></a>
    <% } %>
    <% if (theme.social.instagram) { %>
        <a target="_blank" href="<%= theme.social.instagram %>" title="Instagram"><i class="fa-fw fab fa-instagram"></i></a>
    <% } %>
    <% if (theme.social.whatsapp) { %>
        <a target="_blank" href="<%= theme.social.whatsapp %>" title="WhatsApp"><i
                    class="fa-fw fab fa-whatsapp"></i></a>
    <% } %>
    <% if (theme.social.qq) { %>
        <a target="_blank" href="<%= theme.social.qq %>" title="QQ"><i class="fa-fw fab fa-qq"></i></a>
    <% } %>
    <% if (theme.social.wechat) { %>
        <a target="_blank" href="<%= theme.social.wechat %>" title="Wechat"><i class="fa-fw fab fa-weixin"></i></a>
    <% } %>
    <% if (theme.social.steam) { %>
        <a target="_blank" href="<%= theme.social.steam %>" title="Steam"><i class="fa-fw fab fa-steam"></i></a>
    <% } %>
    <% if (theme.social.psn) { %>
        <a target="_blank" href="<%= theme.social.psn %>" title="Playstation"><i
                    class="fa-fw fab fa-playstation"></i></a>
    <% } %>
    <% if (theme.social.xbox) { %>
        <a target="_blank" href="<%= theme.social.xbox %>" title="XBox"><i class="fa-fw fab fa-xbox"></i></a>
    <% } %>
    <% if (theme.social.twitch) { %>
        <a target="_blank" href="<%= theme.social.twitch %>" title="Twitch"><i class="fa-fw fab fa-twitch"></i></a>
    <% } %>
    <% if (theme.social.youtube) { %>
        <a target="_blank" href="<%= theme.social.youtube %>" title="Youtube"><i class="fa-fw fab fa-youtube"></i></a>
    <% } %>
    <% if (theme.social.bilibili) { %>
        <a target="_blank" href="<%= theme.social.bilibili %>" title="Bilibili"><i class="fa-fw fas fa-tv"></i></a>
    <% } %>
</div>