<footer id="footer">
    <style type="text/css">
        :root[data-theme="light"] #footer {
        <% if (theme.light.footer_image) { %>
            background: url(<%- url_for(theme.light.footer_image) %>) no-repeat center;
            background-size: cover;
        <% } %><%- theme.light.footer_css %>
        }

        :root[data-theme="dark"] #footer {
        <% if (theme.dark.footer_image) { %>
            background: url(<%- url_for(theme.dark.footer_image) %>) no-repeat center;
            background-size: cover;
        <% } %><%- theme.dark.footer_css %>
        }
    </style>
    <% if (theme.social.show_in_footer) { %>
        <%- partial("_widget/social") %>
    <% } %>
    <% if (theme.footer.md) { %>
        <div id="footer-signature" style="text-align: <%- theme.footer.text_align || "center" %>">
            <%- markdown(theme.footer.md) %>
        </div>
    <% } %>
    <%# Libraries %>
    <%- js(url_for(theme.library.fontawesome)) %>
    <% if (is_post() && theme.library.fancybox.enabled && (has_image(page.content) || page.photos.length > 0)) { %>
        <%- css(url_for(theme.library.fancybox.css)) %>
        <%- js([
            {src: url_for(theme.library.jquery)},
            {src: url_for(theme.library.fancybox.js), async: true}
        ]) %>
        <script>
            fancyboxImg();
        </script>
    <% } %>
    <%# Custom script %>
    <%- js({src: 'js/custom.js', async: true}) %>
</footer>
